<hr class="hr">
<div id="album-form" class="row">
  <%= form_for @album, remote: true do |form| %>
    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-8 form-group album_name_div text-left">
      <%= form.label :name, hidden: true %>
      <%= form.text_field :name, class: "form-control", placeholder: "Album Name" %>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-4 text-right">
      <%= form.submit class: "btn btn-warning" %>

      <% if @album.new_record? %>
        <%= link_to "Cancel", cancel_new_path, remote: true, id: "cancel_new", class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Cancel", cancel_edit_path, remote: true, id: "cancel_edit", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
<hr class="hr">