<ol class="breadcrumb">
  <li><%= link_to "Blog", root_path %></li>
  <li><%= link_to "Albums", albums_path %></li>
  <li><%= link_to @album.name, album_path(@album) %></li>
  <li class="active">Editing <%= @album.name %></li>
</ol>

<% if signed_in? %>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center">
      <%= link_to "Edit Album Name", edit_album_path, id: "edit_album_link", class: "btn btn-warning", remote: true %>
    </div>
  </div>
<% end %>

<div class="row" id="album-name-div">
  <div class="col-md-12">
    <h1 class="text-center"><%= @album.name %></h1>
  </div>
</div>

<div id="album-form-div">
</div>

<%= form_tag delete_selected_path, method: :delete do %>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-left">
      <%= submit_tag 'Delete Selected', class: 'btn btn-danger', disabled: @album.photos.empty?, id: "delete-selected-button" %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-right">
      <%= link_to "Delete All", delete_all_path, 'data-confirm': "Are you sure?", class: 'btn btn-danger', method: :delete, disabled: @album.photos.empty?, id: "delete-all-button" %>
    </div>
  </div>

  <br><br>

  <div class="row" id="album-photos">
    <% if @album.photos.empty? %>
      <h3 class="text-center" id="no-photo"><small>No Photos In This Album</small></h3>
    <% else %>
      <% @album.photos.each do |photo| %>
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 thumb text-center">
          <div class="thumbnail">
            <%= image_tag(photo.filename.thumb.url, class: "img-responsive") %>
              <div class="caption">
                <p><%= check_box_tag 'photos[]', photo.id %></p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>