<div class="row">
  <%= form_for [@album, @upload] do |form| %>
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <%= form.label :filename, "Upload New" %>
    <%= form.file_field :filename, multiple: true, id: "kartik-upload" %>
  </div>

  <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-offset-3 col-md-6 col-sm-6 col-xs-6 col-lg-6">
    <%= form.submit "Upload", class: "btn btn-primary btn-block" %>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-left">
    <%= link_to "Go to Albums", albums_path, class: 'btn btn-default' %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-right">
    <% if signed_in? %>
      <%= link_to "Edit Album", edit_album_with_photos_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>

<div class="row" id="album-name-div">
  <div class="col-md-12">
    <h1 class="text-center"><%= @album.name %></h1>
  </div>
</div>

<% if signed_in? %>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload New</button>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-right">
      <%= button_to "Delete Album", album_path, 'data-confirm': "Are you sure?", method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>

<br><br>

<div class="row">
  <% @album.uploads.each do |upload| %>
    <% upload.filename.each do |photo| %>
      <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 thumb text-center">
        <div class="thumbnail">
          <%= link_to image_tag(photo.thumb.url, class: "img-responsive"), photo.url, data: { lightbox: @album.id } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% @album.photos.each do |photo| %>
    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 thumb text-center">
      <div class="thumbnail">
        <%= link_to image_tag(photo.filename.thumb.url, class: "img-responsive"), photo.filename.url, data: { lightbox: @album.id } %>
      </div>
    </div>
  <% end %>
</div>

<!-- <div class="row" id="album-photos">
  <% if @album.photos.empty? %>
    <h3 class="text-center" id="no-photo"><small>No Photos In This Album</small></h3>
  <% else %>
    <% @album.photos.each do |photo| %>
      <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 thumb text-center">
        <div class="thumbnail">
          <%= link_to image_tag(photo.filename.thumb.url, class: "img-responsive"), photo.filename.url, data: { lightbox: @album.id } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div> -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload New</h4>
      </div>
      <div class="modal-body">
        <%= form_for [@album, @photo], html: { class: "dropzone" } do |form| %>
          <div class="fallback">
            <%= form.label :filename, hidden: true %>
            <%= form.file_field :filename, multiple: true, name: "photo[filename]" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "footer" %>
<script>
lightbox.option({
  'alwaysShowNavOnTouchDevices': true
})
</script>

<script>
  $(document).ready(function() {
    var newPhoto = new Dropzone("#new_photo");
  Dropzone.options.newPhoto = false;
  newPhoto.options.acceptedFiles = ".jpeg,.jpg,.png,.gif";
  newPhoto.on("complete", function(files) {
    var _this = this;
    if (_this.getUploadingFiles().length === 0 && _this.getQueuedFiles().length === 0) {
      setTimeout(function(){
        $('#myModal').modal('hide');
        var acceptedFiles = _this.getAcceptedFiles();
        var rejectedFiles = _this.getRejectedFiles();

        for(var index = 0; index < acceptedFiles.length; index++) {
          var file = acceptedFiles[index];
          var response = JSON.parse(file.xhr.response);
          appendContent(response.filename.url, response.filename.thumb.url, response.id, response.album_id);
        }

        if(acceptedFiles.length != 0) {
          alertify.success('Uploaded ' + acceptedFiles.length + ' files successfully.');
        }
        if(rejectedFiles.length != 0) {
          alertify.error('Error uploading ' + rejectedFiles.length + ' files. Only image files are accepted.');
        }

        _this.removeAllFiles();

      }, 2000);
    }
  });

  var appendContent = function(photoUrl, photoThumbUrl, photoId, albumId) {
  $("#album-photos").prepend(

  '<div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 thumb text-center">' +
    '<div class="thumbnail">' +
      '<a data-lightbox=' + albumId +' href="' + photoUrl + '">' +
        '<img class="img-responsive" src="' + photoThumbUrl + '"/>' +
      '</a>' +
    '</div' +
  '</div');
  $("#no-photo").html("");
};
  })
</script>

<%= javascript_include_tag 'alertify' %>