<%= form_for post do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.cktext_area :content, class: "form-control", rows: 20 %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <%= form.submit class: 'btn btn-warning btn-block' %>
      </div>
    </div>
  </div>
<% end %>