<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-left">
    <%= link_to 'Back to Blog', posts_path, class: 'btn btn-default' %>
  </div>

  <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 text-right">
    <% if signed_in? %>
      <%= link_to 'Edit Post', edit_post_path, class: 'btn btn-warning' %>
      <%= link_to 'Delete Post', post_path, 'data-confirm': "Are you sure?", method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <h1 class="post-title"><%= @post.title %></h1>
    <p class="lead">by <%= @post.user.name %></p>

    <hr>

    <p><span class="glyphicon glyphicon-time"></span> <%= @post.created_at.strftime("Posted on %A, %d %B %Y at %I:%M %p") %></p>

    <hr>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <p><%= sanitize @post.content, tags:  %w(strong em a u s sub sup img div figure figcaption p hr ol ul li table caption tbody tr td span), attributes: %w(href style border summary cellspacing cellpadding alt src title width height class ) %></p>
  </div>
</div>